/* Empty. Add your own CSS if you like */


.my-menu {
  background-color: #3f4041;
}

map-canvas {
display: block;
  width: 80%;
  height: 80%;
        
		#map-canvas {
        height: 50%;
        margin: 10px;
        padding: 1px
      }

      
      }
      .controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 32px;
        margin-left: 17px;
        margin-top: 16px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }


	  #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        width: 350px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      #latlng {
        width: 225px;
      }



.my-menu .list {
  background-color: transparent;
}
#map { height: 200px; width:'100%'}
map {
  display: block;
  width: 75%;
    margin-left: 30px;
   
  height: 25%;
   border: 1px solid #999;
}
map1 {
  display: block;
  width: 70%;
  height: 25%;
}
.scroll {
  height: 100%;
}

.my-menu .item, .my-menu .item-content, .my-menu .item-complex{
  background-color: transparent;
  color: #FFFFFF;
  border-color: rgba(0,0,0,0);
}

/* Your app's CSS, go crazy, make it your own */


.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.pane {
  background-color: #333;
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.bar .title {
  color: #eee;
}

.swipe-cards {
  position: fixed;
}

swipe-card {
  display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
swipe-card .button {
  border: none;
}
swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}
