<ion-view view-title="Local Offers">
  <ion-content>
<div id="header">
    <h1 >Categories</h1></div>
<div class="list" style="height:50%; border:0px solid; width:85%"   >
<div class="list" style="height:50%; border:0px solid; width:85%" >
<ul class="list" style="height:50%; border:0px solid; width:85%">

  <li class="item item-checkbox" style="height:5%; border:0px solid; width:75%">
    <label class="checkbox" >
       <input type="checkbox">
     </label><font size="auto">
    Apperels</font>
  </li>

<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Food
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Hardware
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Clothing
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
   Sarees & Dress material
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Sweets
  </li>
</ul>
</div> 
<div style="height:50px; border:0px solid; width:300px">
<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Apperels
  </li>

<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Food
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Hardware
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Clothing
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
   Sarees & Dress material
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Sweets
  </li>
</ul>
</div> 
<div style="height:50px; border:0px solid; width:300px">
<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Apperels
  </li>

<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Food
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Hardware
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Clothing
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
   Sarees & Dress material
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Sweets
  </li>
</ul>
</div>
<div style="height:50px; border:0px solid; width:300px">
<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Apperels
  </li>

<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Food
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Hardware
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Clothing
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
   Sarees & Dress material
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Sweets
  </li>
</ul>
</div>
<div style="height:50px; border:0px solid; width:300px">
<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Apperels
  </li>

<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Food
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Hardware
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Clothing
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
   Sarees & Dress material
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Sweets
  </li>
</ul>
</div>
<div style="height:50px; border:0px solid; width:300px">
<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Apperels
  </li>

<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Food
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Hardware
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Clothing
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
   Sarees & Dress material
  </li>
<li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    Sweets
  </li>
</ul>
</div>
</div>
 </ion-content>

</ion-view>
<div class="bar bar-footer bar-positive">
  <button class="button button-clear"></button>
  <div  class="button button-clear"style="font-size:60%">(R)Copy Rights Reserved @2015</div>
  <button  class="button button-clear"style="font-size:90%" >Developed by Devi Android Apps</button>
</div>
